{{ partial "head" . }}
<div class="container p-a-0 align-middle" style="background-color:white">
	<div class="row vertical-align">
        <div class="span2" >
			<img src="{{ .Site.BaseURL }}/img/immport-blog.png" height="60">
		</div>
		<div class="span1" style="padding-right:10px; padding-left:10px; border-right: 2px solid purple; color: purple">
			<h4>ImmPort</h4>
		</div>
		<div class="span6" style="padding-left:10px;">
			 <h4>Welcome to ImmPort Blog!</h4>
		</div>
	</div><br><br>
	<div class="container p-a-0 align-middle">
		<div class="row m-l-0 m-r-0" style="overflow:hidden; display: flex; margin-left: -10px; margin-top: -10px; padding: 10px">
		  <div class="col-xs-12 col-md-9">
			{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
			{{ range $paginator.Pages.ByDate.Reverse }}
				{{ .Render "summary" }}
			{{ end }}
			{{ partial "content/pagination" . }}
		  </div>
		  <div class="col-xs-12 col-md-3">
			{{ partial "content/sidebar" . }}
        </div>
		</div>
	</div>
</div>
{{ partial "foot" . }}
