{{ partial "head" . }}
<div class="container p-a-0 align-middle" style="background-color:white">
	<div class="row vertical-align">
        <div class="span2" >
			<img src="{{ .Site.BaseURL }}/img/immport-blog.png" height="60">
		</div>
		<div class="span1" style="padding-right:10px; padding-left:10px; border-right: 2px solid purple; color: purple">
			<h4>ImmPort</h4>
		</div>
		<div class="span6" style="padding-left:10px;">
			 <h4>Welcome to ImmPort Resources!</h4>
		</div>
	</div><br><br>
	<div class="container p-a-0 align-middle">
		<div class="row justify-content-md-center vertical-align">
		</div>
	</div>
</div>
{{ partial "foot" . }}
